# .gitignore

# Ignore all contents of audio/ and photos/
Audio/Music*
Photos/*

# But don't ignore the folders themselves
!Audio/
!Photos/

# Don't ignore Permanent folder inside Photos
!Photos/PublicMedia/
!Photos/PublicMedia/**
